header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  top: 2rem;
  margin: 15px 0px;
}

.logo,.back-to-index {
  width: 13rem;
  margin: 0;
  padding: 0;
}

nav {
  margin: 0px;
  width: 100vw;
}

ul {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  margin: auto;
  justify-content: center;
  padding: 0;
}

li,
.tags {
  color: $primary-color;
  border: 0.12rem $grey-text solid;
  border-radius: 25px;
  padding: 0.2rem 0.5rem;
  margin: 0.1rem;
  list-style: none;
  font-weight: 600;
  font-size: 14px;
}

li:hover, li:focus,
.tags:hover, .tags:focus {
  color: $white-background;
  background-color: $primary-color;
  cursor: pointer;

  transition: all ease 300ms;
}

li:focus {
  border: 1px black dotted;
}

@media (min-width: 850px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
  header {
    width: 75%;
  }
  nav {
    width: auto;
  }
  ul {
    width: auto;
  }
}

@media (min-width: 1920px) {
  header {
    width: 65%;
  }
}
