.photographer-page {
  &--section {
    display: flex;
    justify-content: space-around;
    padding: 2rem 1rem;
    border-radius: 5px;
    margin: auto;
    width: 95%;

    &--article {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      padding: 0px 2rem 0px 2rem;
    }
  }
  &--name {
    color: $secondary-color;
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0;
  }
  &--location {
    color: $primary-color;
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
  }
  &--tagline {
    color: $grey-text;
    margin: 15px 0px;
  }
  &--lblock {
    display: flex;
    flex-direction: column;
    width: 65%;
  }
  &--picture {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 7rem;
    left: 70%;
  }

  &--header {
    display: flex;
    flex-direction: row;
  }

  &--static-text {
    display: none;
    &--div {
      display: flex;
      width: fit-content;
      position: fixed;
      flex-direction: row;
      z-index: 101;
      background-color: #db8876;
      padding: 0.5rem 1rem;
      border-radius: 5px 5px 0px 0px;
      bottom: 0;
      right: 2rem;
    }
    &--text {
      padding: 0px 1.5rem;
      font-size: 18px;
      font-weight: 600;
    }
    &--text:nth-child(1) {
      margin-right: 1rem;
    }
    &--text:nth-child(2) {
      margin-left: 1rem;
    }
  }
}

.media {
  &--select {
    position: relative;
    font-family: Arial;
    width: 90%;
    margin: 1rem auto;
    &--select {
      border: 0;
      border-radius: 5px;
      background-color: $primary-color;
      color: white;
      padding: 0.5rem 1rem;
      &:hover {
        cursor: pointer;
      }
    }
    &--option {
      padding: 0.25rem 0.5rem;
      border-bottom: white 1px solid;
    }
  }
  &--section {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    justify-content: space-between;
  }
  &--card {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin: auto;
    align-items: center;
    justify-content: center;

    animation: slide-in 250ms ease;
    animation-fill-mode: both;
    width: 100%;
  }
  &--link {
    width: 100%;
  }
  &--image {
    width: 100%;
    height: 190px;
    border-radius: 5px;
    object-fit: cover;
    object-position: 50% 20%;
    @include regular-transition;
    &--description {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 90%;
      color: $primary-color;
    }
    &:hover {
      cursor: pointer;
      @include scale-up-transition;
    }
  }
  &--video {
    height: 100%;
    width: 80%;
    object-fit: cover;
    margin: auto;
  }
  &--like-counter {
    display: flex;
    align-self: center;
    z-index: 50;
    &--span {
      margin: 0px 5px;
    }
    &--icon {
      width: fit-content;
      z-index: 200;
      @include regular-transition;
      color: $primary-color;
      &:hover {
        @include scale-up-transition;
        cursor: pointer;
      }
    }
    &--block {
      margin: 0;
      padding: 0;
      justify-content: center;
      justify-self: center;
      align-self: center;
      align-items: center;
      align-content: center;
    }
  }
}

.liked {
  color: red;
}

@for $i from 1 through 100 {
  .media--card:nth-child(#{$i}n) {
    animation-delay: #{$i * 50}ms;
  }
}

.contact-button-div {
  position: fixed;
  width: 100%;
  bottom: 5%;
  left: 0;
  z-index: 100;
}

.modal {
  &--background {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    justify-content: center;
    align-items: center;
  }
  &--header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &--close {
      color: white;
      font-size: 2rem;
      &:hover {
        cursor: pointer;
      }
    }
    &--text {
      font-weight: 400;
      font-size: 2rem;
      margin: 0;
      margin-bottom: 1rem;
    }
  }
  &--body {
    display: flex;
    flex-direction: column;
    background-color: #db8876;
    position: fixed;
    margin: auto;
    width: 80%;
    height: auto;
    max-height: 99%;
    justify-content: center;
    align-content: center;
    padding: 2rem;
    @include box-shadow-simple;
  }
  &--contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    margin-top: 1rem;
    &--label {
      margin: 0.5rem 0px;
      font-size: 1.5rem;
      color: $grey-text;
    }
    &--input {
      border: 0px;
      border-radius: 5px;
      height: 3rem;
    }
    &--textarea {
      border: 0px;
      border-radius: 5px;
    }
    &--submit {
      border: 0px;
      margin: 1rem auto 0px auto;
      padding: 1rem 2rem;
    }
  }
}

.lightbox {
  &--modal {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: $white-background;
    z-index: 102;
    left: 0;
    top: 0;

    flex-direction: column;
    justify-content: space-around;
  }
  &--close-button {
    margin: 2rem;
    margin-left: 90%;
    font-size: 20px;
    color: $primary-color;
    &:hover {
      cursor: pointer;
    }
  }
  &--carousel {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 80%;
    margin: auto;
    justify-content: space-around;
    align-content: center;
    align-items: center;
  }
  &--change-button {
    &--next {
      &:hover {
        cursor: pointer;
        @include scale-up-transition;
      }
      &::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f054";
        min-width: 10%;
        padding: 1rem;
        margin: auto;
        text-align: center;
        color: $primary-color;
      }
    }
    &--previous {
      &:hover {
        cursor: pointer;
        @include scale-up-transition;
      }
      &::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f053";
        min-width: 10%;
        padding: 1rem;
        margin: auto;
        text-align: center;
        color: $primary-color;
      }
    }
  }
  &--image {
    max-height: 90%;
    max-width: 70%;
    margin: auto;
    &--img {
      width: 100%;
      margin: auto;
    }
    &--title {
      margin: auto;
      margin-top: -2rem;
      width: 60%;
      text-align: left;
      color: $primary-color;
    }
  }
}

.success-block {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

/*Affichage tablette*/
@media (min-width: 768px) {
  .media {
    &--image {
      height: 400px;
    }
  }
  .modal {
    &--body {
      width: 50%;
    }
  }
  .photographer-page {
    &--picture {
      position: relative;
      top: auto;
      left: auto;
      margin-bottom: 25px;
    }
  }

  .lightbox {
    &--image {
      height: 80vw;
      &--img {
        height: 100%;
        max-width: 100%;
        margin: auto;
      }
    }
  }
}

/*Affichage desktop*/
@media (min-width: 1024px) {
  .photographer-page {
    &--section {
      width: 90%;
      background-color: $white-background;
    }
    &--static-text {
      display: block;
    }
  }
  .media {
    &--card {
      width: 30%;
      margin: 0px 1rem;
    }
    &--image {
      width: 90%;
      height: 250px;
    }
  }
  .modal {
    &--body {
      width: 30%;
    }
    &--contact-form {
      &--submit {
        margin: 1rem 0;
      }
    }
  }
  .contact-button-div {
    position: relative;
    width: 200px;
  }
}

/*Affichage widescreen*/
@media (min-width: 1440px) {
  .modal {
    &--body {
      width: 25%;
    }
  }
  .contact-button-div {
    position: relative;
    width: 200px;
  }
}
